{% extends '::base1.html.twig' %}
{% block title %}Socios WIPS{% endblock %}
{% block contenido %}
	<section id="principalsocio">
		<section id="socio-contenido">
			<article class="socio">
				<h3>Socio</h3>
				<img class="img-socio" src={{asset('public/img/socios/socio.png')}} alt="socio" />
				<p>
					Hugo y Alicia ya son parte de este sueño, ellos consultaron y vieron dia a dia como se materializaba la idea de llevar internet a los barrios cercanos que hoy en dia es dificultoso el acceso a internet, desde el 1 de Noviembre del 2016 ya esta funcional el nodo que va a poder dar acceso digital a las familias del Bº Pirayui - Bº Kirchner - Bº 17 de Agosto -Bº Ponce  y Zonas de Influencia, cubriendo barrios en proceso de expansión, trabajando juntos y aprendiendo en el proceso.
				</p>
				<hr />
				<div><a href={{path('visitante_vermapa')}}>Ver Mapa</a></div>
			</article>
			<article class="socio">
				<h3>Socio</h3>
				<img class="img-socio" src={{asset('public/img/socios/socio.png')}} alt="socio" />
				<p>
					Hugo y Alicia ya son parte de este sueño, ellos consultaron y vieron dia a dia como se materializaba la idea de llevar internet a los barrios cercanos que hoy en dia es dificultoso el acceso a internet, desde el 1 de Noviembre del 2016 ya esta funcional el nodo que va a poder dar acceso digital a las familias del Bº Pirayui - Bº Kirchner - Bº 17 de Agosto -Bº Ponce  y Zonas de Influencia, cubriendo barrios en proceso de expansión, trabajando juntos y aprendiendo en el proceso.
				</p>
				<hr />
				<div><a href={{path('visitante_vermapa')}}>Ver Mapa</a></div>
			</article>			
			<article class="socio">
				<h3>Socio</h3>
				<img class="img-socio" src={{asset('public/img/socios/socio.png')}} alt="socio" />
				<p>
					Hugo y Alicia ya son parte de este sueño, ellos consultaron y vieron dia a dia como se materializaba la idea de llevar internet a los barrios cercanos que hoy en dia es dificultoso el acceso a internet, desde el 1 de Noviembre del 2016 ya esta funcional el nodo que va a poder dar acceso digital a las familias del Bº Pirayui - Bº Kirchner - Bº 17 de Agosto -Bº Ponce  y Zonas de Influencia, cubriendo barrios en proceso de expansión, trabajando juntos y aprendiendo en el proceso.
				</p>
				<hr />
				<div><a href={{path('visitante_vermapa')}}>Ver Mapa</a></div>
			</article>			
			<article class="socio">
				<h3>Socio</h3>
				<img class="img-socio" src={{asset('public/img/socios/socio.png')}} alt="socio" />
				<p>
					Hugo y Alicia ya son parte de este sueño, ellos consultaron y vieron dia a dia como se materializaba la idea de llevar internet a los barrios cercanos que hoy en dia es dificultoso el acceso a internet, desde el 1 de Noviembre del 2016 ya esta funcional el nodo que va a poder dar acceso digital a las familias del Bº Pirayui - Bº Kirchner - Bº 17 de Agosto -Bº Ponce  y Zonas de Influencia, cubriendo barrios en proceso de expansión, trabajando juntos y aprendiendo en el proceso.
				</p>
				<hr />
				<div><a href={{path('visitante_vermapa')}}>Ver Mapa</a></div>
			</article>
			<article class="socio">
				<h3>Socio</h3>
				<img class="img-socio" src={{asset('public/img/socios/socio.png')}} alt="socio" />
				<p>
					Hugo y Alicia ya son parte de este sueño, ellos consultaron y vieron dia a dia como se materializaba la idea de llevar internet a los barrios cercanos que hoy en dia es dificultoso el acceso a internet, desde el 1 de Noviembre del 2016 ya esta funcional el nodo que va a poder dar acceso digital a las familias del Bº Pirayui - Bº Kirchner - Bº 17 de Agosto -Bº Ponce  y Zonas de Influencia, cubriendo barrios en proceso de expansión, trabajando juntos y aprendiendo en el proceso.
				</p>
				<hr />
				<div><a href={{path('visitante_vermapa')}}>Ver Mapa</a></div>
			</article>			
			<article class="socio">
				<h3>Socio</h3>
				<img class="img-socio" src={{asset('public/img/socios/socio.png')}} alt="socio" />
				<p>
					Hugo y Alicia ya son parte de este sueño, ellos consultaron y vieron dia a dia como se materializaba la idea de llevar internet a los barrios cercanos que hoy en dia es dificultoso el acceso a internet, desde el 1 de Noviembre del 2016 ya esta funcional el nodo que va a poder dar acceso digital a las familias del Bº Pirayui - Bº Kirchner - Bº 17 de Agosto -Bº Ponce  y Zonas de Influencia, cubriendo barrios en proceso de expansión, trabajando juntos y aprendiendo en el proceso.
				</p>
				<hr />
				<div><a href={{path('visitante_vermapa')}}>Ver Mapa</a></div>
			</article>			
		</section> 
	</section>
{% endblock %}